@import './reset';
@import './breakpoints';
@import './variables';

a {
  color: $primary-color;

  &:hover {
    color: lighten($color: $primary-color, $amount: 10);
  }

  &:visited {
    color: $secondary-color;

    &:hover {
      color: darken($color: $secondary-color, $amount: 10);
    }
  }
}

#root {
  height: 100%;
}
