@import "./reset";
@import "./breakpoints";
@import "./variables";

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik/Rubik-Regular.ttf') format("truetype");
}

html {
  font-family: 'Rubik', sans-serif;
  color: $text-color;
}

a {
  color: $primary-color;

  &:hover {
    color: lighten($color: $primary-color, $amount: 10);
  }

  &:visited {
    color: $secondary-color;

    &:hover {
      color: darken($color: $secondary-color, $amount: 10);
    }
  }
}

#root {
  height: 100%;
}
