@import "./reset";
@import "./breakpoints";
@import "./variables";

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik/Rubik-Regular.ttf') format("truetype");
}

html {
  font-family: 'Rubik', sans-serif;
}
