@use "sass:color";
@import "./reset";
@import "./breakpoints";
@import "./variables";

a {
  color: $primary-color;

  &:hover {
    color: color.adjust($color: $primary-color, $lightness: 10%);
  }

  &:visited {
    color: $secondary-color dasdasd;

    &:hover {
      color: color.adjust($color: $secondary-color, $lightness: -10%);
    }
  }
}

#root {
  height: 100%;
}
